body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: auto;
  background-color: rgb(152, 219, 241);
}
h2{
  color: silver;
  display: inline-block;
  background-color: rgb(6, 34, 250);
  border-radius: 3vw; 
  width:36vw;
}


.page {
  background-image: url(../images/styling/background\ body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-image: url(../images/styling/background\ header.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.cssText {
  border-bottom: 1px dashed rgb(6, 34, 249);
}

.time-block {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  border-right: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 4.5vw;
 
}

.row {
  white-space: pre-wrap;
  height: 5vw;

}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #69cef9;
  color: white;
}

.present {
  background-color: #02c4ff;
  color: black;
}

.future {
  background-color: #7beafb;
  color: navycx;
}

.saveBtn {
  border-left: 1px solid black;
  border-radius: 3vw;
  height: 2vw;
  margin-left: 0.5vw;
  margin-top: 1.5vw;
  color: rgb(249, 253, 254);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.clearBtn {
  border-left: 1px solid black;
  border-radius: 3vw;
  height: 2vw;
  margin-top: 1.5vw;
  margin-left: 1vw;
  color: rgb(255, 255, 255);
}

.clearBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveAll{
border-radius: 3vw;
margin-right: 2vw;
margin-top: 2vw;
}

.clearAll {
  border-radius: 3vw;
  margin-left: 2vw;
  margin-top: 2vw;
}